.list-menu-container {
    position: absolute;
    align-self: flex-end;
    width: 200px;
    background-color: #f8f8f8;
    color: black;
    min-height: 100px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 2px #cfcfcfb0;
    margin-inline-start: 158px;
    margin-top: 32px;
    z-index: 1;

    h2 {
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        padding: 3px;
        border-bottom: 1px solid rgba(211, 211, 211, 0.473);
    }
}

.option {
    padding: 3px;
    font-size: 14px;

    &:hover {
        background-color: #d6d6d67a;
    }
}

.option:not(:last-child) {
    border-bottom: 1px solid rgba(211, 211, 211, 0.473);
}

.list-footer {
    color: #5e6c84;
    font-size: rem(14px);
    border-radius: 4px;
    padding: 3px;
    margin: 6px 5px;
    transition: 0.3s;

    &:hover {
        background: rgba(124, 124, 124, 0.288);
    }

    &-add-icon {
        // height: 20px;
        // width: 20px;
        font-size: rem(16px);
        // line-height: 20px;
        margin-inline-end: 2px;
    }
}
