.board-list-container {
    height: 100%;
    align-items: flex-start;
}

.list {
    position: relative;
    justify-content: space-between;
    min-height: 41px;
    max-height: 100%;
    width: 274px;
    padding: 4px 5px 0px 5px;
    margin-inline-end: 8px;
    background-color: #ebecf0;
    border: 1px solid rgba(131, 131, 131, 0.336);
    border-radius: 4px;
    white-space: normal;
}

.list-header {
    padding: 6px;
    justify-content: space-between;
}

.list-title-container {
    width: 80%;
    padding-inline-start: 5px;
}