.title-container {
    margin: 0;
    cursor: text;
    word-break: break-word;

    &.list-style {
        font-size: 1rem;
        font-weight: 400;
    }

    &.card-style {
        width: 300px;
        color: #172b4d;
        font-size: 18px;
        line-height: 24px;
    }

    &.url-font-size {
        font-size: 14px;
        font-weight: 400;
    }

    &:focus {
        background-color: $clr4;
        box-shadow: inset 0 0 0 2px #0079bf;
    }
}
