* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "varela";
  font-size: rem(18px);
  line-height: 31px;
  // letter-spacing: 0.75px;
  margin: 0;
  color: $clr3;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

small {
  margin: 0;
  font-size: rem(12px);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #98969669;
}
