button {
    cursor: pointer;
    font-family: inherit;
    font-size: rem(18px);
    background-color: $btnclr1;
    color: $clr4;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    text-transform: uppercase;
    margin-top: 10px;

    &:hover {
        background-color: $btnclr2;
    }

    &.logout,
    &.due-date-reset-btn {
        background-color: $btnclr3;

        &:hover {
            background-color: $btnclr4;
        }
    }
    &.submit-form {
        height: 32px;
        font-size: rem(14px);
        margin-top: 0;
        margin-inline-end: 4px;
    }
    &.save-mini-card-btn {
        width: fit-content;
        font-size: 14px;
        margin-inline-start: 8px;
    }
    &.due-date-save-btn {
        width: fit-content;
        font-size: 14px;
        margin-inline-end: 10px;
    }
    &.due-date-reset-btn {
        width: fit-content;
        font-size: 14px;
        align-self: center;
    }
    &.card-todos-save-btn {
        width: fit-content;
        font-size: 14px;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 4px;

    &.home-login {
        height: 40px;

        .MuiSvgIcon-root {
            height: 32px;
            width: 32px;
        }
        & div {
            margin-inline-end: 5px;
            font-size: 20px;
            line-height: 40px;
        }
    }
    &.home-logout {
        height: 40px;
        width: 40px;
        align-self: center;
        margin: 0 10px;

        .MuiSvgIcon-root {
            height: 32px;
            width: 32px;
        }
    }
    &.home-login:hover,
    &.home-logout:hover {
        color: $clr3;
        background-color: $clr1;
    }
    &.get-started {
        height: 60px;
        width: 178px;
        color: $clr4;
        background-color: $btnclr1;
        border-radius: 24px;
        font-size: rem(18px);
        transition: 0.4s;

        &:hover {
            background-color: $btnclr2;
            box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.185);
        }
    }
    &.go-back {
        height: 40px;
        width: 40px;
        transition: 0.3s;
        z-index: 2;
    }
    &.add-members,
    &.change-bg,
    &.show-history {
        padding: 0 10px;
        z-index: 2;

        :last-child {
            margin-inline-end: 10px;
        }
    }
    &.search-img {
        height: 40px;
        width: 40px;
        // background-color: #c8c8c7;
        background-color: #b5b5b1;
        color: $clr3;
        transition: 0.3s;
    }
    &.upload-img {
        width: 50%;
        background-color: #b5b5b1;
        color: $clr3;
        transition: 0.3s;
    }
    &.go-back:hover,
    &.add-members:hover,
    &.change-bg:hover,
    &.show-history:hover,
    &.search-img:hover,
    &.upload-img:hover {
        background-color: #686868d3;
    }
    &.add-list {
        justify-content: flex-start;
        height: 30px;
        min-width: 200px;
        transition: 0.2s;
        font-size: rem(14px);
        border: 1px solid #0000000d;
        padding: 5px;
    }
    &.title-menu {
        height: 30px;
        padding: 10px 10px 20px 10px;
        &:hover {
            background: rgba(177, 177, 177, 0.5);
            font-weight: 600;
        }
    }
}

.close-due-date-btn,
.close-todos-btn,
.close-btn-labels,
.close-btn-card-members,
.card-details-close-btn {
    align-self: flex-end;
    width: 24px;

    &.MuiSvgIcon-root {
        height: 18px;
        width: 18px;
    }
}

.card-details-close-btn {
    &.MuiSvgIcon-root {
        height: 24px;
        width: 24px;
    }
}

.card-details-close-btn {
    margin-top: 20px;
    margin-inline-end: 25px;
}

.card-details-editor-btn {
    height: 32px;
    color: #172b4d;
    font-size: 14px;
    background-color: rgba(9, 30, 66, 0.068);
    border-radius: 4px;
    margin-top: 8px;
    padding: 0 10px;
    transition: 0.3s;

    .MuiSvgIcon-root {
        height: 18px;
        width: 18px;
        margin-inline-end: 5px;
    }

    &:hover {
        color: $clr4;
        background-color: rgba(9, 30, 66, 0.322);
    }
}
