.screen {
    position: absolute;
    height: 100%;
    width: 100%;

    &.board {
        top: 0;
        z-index: 1;
    }

    &.status-bar {
        background-color: $clr2;
        top: 0;
        right: 0;
        z-index: 3;
    }

    &.mini-card {
        background-color: $clr2;
        z-index: 2;
    }

    &.card-details {
        justify-content: center;
        align-items: center;
        background-color: $clr2;
        top: 0;
        z-index: 4;
    }
}
