.card-members-container {
    position: absolute;
    width: 295px;
    background-color: $clr4;
    // box-shadow: 0px 0px 0px 2px #aeaeaeb5;
    border-radius: 4px;
    // padding-top: 25px;
    z-index: 1;
}
