.card-preview-container {
    cursor: pointer !important;
    position: relative;
    // word-wrap: break-word;
    // overflow-wrap: break-word;
    // white-space: normal;
    max-width: 256px;
    background-color: $clr4;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
    text-decoration: none;
    font-size: 14px;
    padding: 0 5px;

    &.without-padding {
        padding: 0;
    }

    &:hover {
        box-shadow: 0px 3px 5px -3px #00000082;
        background: rgba(255, 255, 255, 0.527);
    }

    &.isDragging {
        background-color: rgba(253, 253, 253, 0.685);
    }
}

.card-title {
    justify-content: space-between;
    min-height: rem(34px);
    width: 100%;
    color: #172b4d;
    padding: 2px 0;
    word-break: break-all;
}

.card-url  {
    color: $link;
    word-break: break-all;
    padding: 0 4px;
}

.card-url:visited {
    color: $link-visited;
}

.card-edit-icon-container {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 2px;
    align-self: flex-end;
    padding-top: 4px;
    padding-inline-start: 4px;
}

.card-edit-icon {
    &.MuiSvgIcon-root {
        width: 16px;
        height: 16px;
        color: rgb(48, 48, 48);
        transition: 0.2s;
    }

    &:hover {
        background-color: rgba(2, 2, 2, 0.288);
        color: rgb(255, 255, 255);
    }
}

.card-preview-details-container {
    min-height: 32px;
    border-top: 1px solid rgba(255, 255, 255, 0.527);
}

.card-detail-info {
    align-items: center;
}

.card-detail-info:not(:last-child) {
    margin-inline-end: 10px;
}
