.card-duedate-container {
    position: fixed;
    height: 120px;
    width: 300px;
    background-color: $clr4;
    border-radius: 4px;
    z-index: 1;
}

.react-datepicker {
    font-family: 'varela' !important;
    height: fit-content;
    width: 328px;
}

.react-datepicker__input-container {
    display: flex !important;
    justify-content: center;
}

.react-datepicker-wrapper {
    input {
        text-align: center;
        padding: 5px 0px;
        width: 250px;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        border-radius: 4px;
    }
}
