// Colors
$clr1: rgba(165, 165, 165, 0.829);
$clr2: rgba(0, 0, 0, 0.74);
$clr3: #000000;
$clr4: #fff;

$btnclr1: #5aac44;
$btnclr2: #5bac44d5;
// $btnclr1: #1d941ddb;
// $btnclr2: #2eb62e;
$btnclr3: #bb1c1cad;
$btnclr4: #e71a1aad;

$link-visited: #ce2e6c;
$link: #574f7d;


// Breakpoints

$mobile-narrow-breakpoint: 375px;
$mobile-wide-breakpoint: 460px;
$tablet-breakpoint: 720px;
$tablet-wide-breakpoint: 1000px;
$normal-breakpoint: 1200px;
$wide-breakpoint: 1440px;
$wider-breakpoint: 1680px;

// $clr2: #4f3a65;
// $clr4: #95adbe;
// $clr5: #dff0ea;