.status-bar {
    justify-content: space-between;
    align-items: center;
    height: 61px;
    width: 100%;
    color: $clr4;
    // background: #00000099;
    background-color: rgba(0, 0, 0, 0.46);
    padding: 10px 20px;
}

.screen {
    background-color: $clr2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
}

.flag-icon {
    height: 40px;
    width: 40px;

    &.he {
        background-image: url(../../assets/icons/heb-icon.png);
        background-size: contain;
    }
    &.en {
        background-image: url(../../assets/icons/usa-icon.png);
        background-size: contain;
    }
}

.flag-icon:not(:last-child) {
    margin-inline-end: 10px;
}
