.mini-card-details-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
}

.mini-card-labels-container {
    padding: 0 2px;
}

.mini-card-details {
    position: relative;
    width: 252px;
    border-radius: 4px;
    background-color: $clr4;
    border: 1px solid #d5d5d5c9;
    z-index: 3;
}

.mini-card-textarea {
    position: relative;
    margin-bottom: unset;
    outline: transparent;
    min-height: 32px;
    width: 252px;
    bottom: 1px;
    text-indent: 2px;

    &:focus {
        box-shadow: none;
    }
}
